.modal-header {
    border-bottom: none !important;
}

.modal-header .modal-title {
    font-family: 'Raleway', sans-serif;
}

.modal-header .modal-title span {
    font-size: 16px;
}

.modal-body {
    padding-top: 0;
}

.modal-body .topBorder {
    height: 0px;
    width: 100%;
    margin: 0 auto;
    background-color: #e0e0e0;
}

.modal-body .navigationContainer {
    margin-top: 5%;
}

.modal-body button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.modal-body .prevMonth {
    float: left;
    font-size: 25px;
    color: #9e9e9e;
    font-weight: 100;
}

.modal-body .nextMonth {
    float: right;
    font-size: 25px;
    color: #9e9e9e;
    font-weight: 100;
}

.modal-body #currentMonth {
    clear: none;
    text-align: center;
    margin: 0 auto;
}

.calendarContainer {
    border-top: 1px solid #e0e0e0;
    margin-top: 5%;
    padding-top: 2%;
    width: 100%;
    margin-left: 0 !important;
}

.calendarContainer .calendarDay {
    width: 14.28571428571429%;
    height: 50px;
    text-align: center;
    color: #2E2E2E;
    border: 2px solid white;
    transition: all 0.3s;
}

.calendarContainer .calendarDay h5 {
    font-size: 16px;
    font-weight: 600;
}

.calendarContainer .calendarDay:hover {
    cursor: pointer;
}

.calendarContainer .activeDay {
    border: 2px solid #66bb6a !important;
    color: #66bb6a;
    font-weight: 800;
    border-radius: 12px;
    transition: all 0.3s;
}

.calendarContainer .activeDay h5 {
    font-weight: 800;
}

.calendarContainer .calendarDay .dayNr {
   margin-top: 12.5px;
}

.year {
    font-size: 25px;
    color: #9e9e9e;
}

.month {
    font-size: 30px;
    color: #212121;
}

.date h5 {
    font-size: 55px;
    font-weight: 600;
    color: #c33764;
    margin-bottom: 0;
}

.calendarCancel {
    color: #919191;
}

.calendarConfirm {
    background-color: #c33764;
    color: white;
}

.slideContainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
    cursor: pointer;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #c33764; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #c33764; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slideContainer h5 {
    border-top: 1px solid #e0e0e0;
    padding-top: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: #9e9e9e;
}

.slideContainer p {
    margin-top: 10px;
    margin-bottom: 5px;
}

#timeSplitter {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #9e9e9e;
}

.time span {
    font-size: 40px;
    color: #c33764;
    font-weight: 600;
}

#calendarError {
    float: left;
    color: #ef5350;
}