.modal-header {
    border-bottom: none !important;
}

.modal-header .modal-title {
    font-family: 'Raleway', sans-serif;
}

.modal-header .modal-title span {
    font-size: 16px;
}

.modal-body {
    padding-top: 0;
}

.modal-body .topBorder {
    height: 0px;
    width: 100%;
    margin: 0 auto;
    background-color: #e0e0e0;
}

.modal-body .navigationContainer {
    margin-top: 5%;
}

.modal-body button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.modal-body .prevMonth {
    float: left;
}

.modal-body .nextMonth {
    float: right;
}

.modal-body #currentMonth {
    clear: none;
    text-align: center;
    margin: 0 auto;
}

.calendarContainer {
    border-top: 1px solid black;
    margin-top: 5%;
    padding-top: 2%;
    width: 100%;
    margin-left: 0 !important;
}

.calendarContainer .calendarDay {
    width: 14.28571428571429%;
    height: 50px;
    text-align: center;
    color: #2E2E2E;
    border: 2px solid white;
    transition: all 0.3s;
}

.calendarContainer .calendarDay h5 {
    font-size: 16px;
    font-weight: 600;
}

.calendarContainer .calendarDay:hover {
    cursor: pointer;
}

.calendarContainer .activeDay {
    border: 2px solid #66bb6a !important;
    color: #66bb6a;
    font-weight: 800;
    border-radius: 12px;
    transition: all 0.3s;
}

.calendarContainer .activeDay h5 {
    font-weight: 800;
}

.calendarContainer .calendarDay .dayNr {
   margin-top: 12.5px;
}

.calendarContainer .weekend {
   
}